# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Xcode - user-specific
xcuserdata/
*.xcuserstate
*.xcuserdatad/
*.xcscmblueprint
*.xccheckout
*.moved-aside

# Xcode - build products
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode - other
*.perspectivev3
!default.perspectivev3
*.mode1v3
*.mode2v3
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Accio / misc
Dependencies/
.accio/

# Injection / profiling
iOSInjectionProject/
*.trace
