<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.Sa3dola.ThawabForGod.refreshReminders</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.Sa3dola.ThawabForGod</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>noor</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>AlMajeedQuranicFont.ttf</string>
		<string>AlMushafQuran.ttf</string>
		<string>AlQuranAli-L3A83.ttf</string>
		<string>AmiriQuran-Regular.ttf</string>
		<string>HafsUthmanicScriptRegular.ttf</string>
		<string>QuranKarim114.ttf</string>
	</array>
</dict>
</plist>
